<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The Snake game  * * * * * * * * * * -->
<!-- * * * * * * * * * An angular component  * * * * * * * * * -->
<!-- * * * * * * * exam task - Piotr Kuczkowski  * * * * * * * -->
<!-- * * * * * * * teacher Chrystian Ruminowicz  * * * * * * * -->
<!-- * * * * * * * * * * * * * 2022  * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content">
<!-- * * * * * * * * * * * Login Page  * * * * * * * * * * * * -->
  <div *ngIf="registerView == 'regView1'"> 

    <table>
      <tr>
        <td colspan="2"><h1>Welcome to the {{title}} game!</h1></td>
      </tr>
      <tr>  
        <td colspan="2"><h3>{{errorOnInput}}</h3></td>
      </tr>
      <tr>
        <td>Player name:</td>
        <td><input type="text" id="playerName" name="playerName" class="form-control" [(ngModel)]="playerName"></td>
      </tr>
      <tr>
        <td>Player email:</td>
        <td><input type="text" id="email" name="email" class="form-control" [(ngModel)]="playerEmail"></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit" class="button button1" (click)="onStartGameButtonPressed()">Play</button></td>
      </tr>
    </table> 

    <p>
        This game is ngx-snake, as an angular component coded by Chrystian Ruminowicz<br />
        This project is licensed under the MIT license. See the LICENSE file for more info.<br />
        Here you can check the demo of ngx-snake at work :) 
    </p>
  
  </div>

<!-- * * * * * * * * * * * Game Page  * * * * * * * * * * * * -->
  <div *ngIf="registerView == 'regView2'">
    
  <h1>The game {{title}} is {{gameMode}}</h1>
  <h3>Hi, {{playerName}} your score is: {{score}}, timer: {{display}} seconds</h3>
  
  <div class="tooltip">
    <img src='./assets/img/on.ico' (click)="onExitButtonPressed()" alt="Exit">
    <span class="tooltiptext">Exit game</span>
  </div>

  <div id="table">
  <ngx-snake #game  [class.black-and-white]="bw"
      (foodEaten)="onGrow()"
      (gameOver)="onGameOver()"></ngx-snake>
  </div>
  <div id="keys">
    <table>
      <tr>
        <td><button class="button button2" (click)="onStartButtonPressed()">Start</button></td>
        <td><button class="button button4" (click)="onStopButtonPressed()">Pause</button></td>
        <td><button class="button button3" (click)="onResetButtonPressed()">Reset</button></td>
      </tr>
      <tr>
        <!-- <button (click)="game.actionStart()">Start</button> -->
        <!-- <button (click)="game.actionStop()">Stop</button> -->
        <!-- <button (click)="game.actionReset()">Reset</button> -->
        <td></td>
        <td><button class="button button5" (click)="game.actionUp()">Up</button></td>
        <td></td>
      </tr>
      <tr>
        <td><button class="button button5" (click)="game.actionLeft()">Left</button></td>
        <td></td>
        <td><button class="button button5" (click)="game.actionRight()">Right</button></td>
      </tr>
      <tr>      
        <td></td>
        <td><button class="button button5" (click)="game.actionDown()">Down</button></td>
        <td></td>
      </tr>
      <tr>      
        <td><button class="button button6" (click)="sortAscPressed()">\/</button></td>
        <td><button class="button button6" (click)="sortDscPressed()">/\</button></td>
        <td>
          <select name="action" (change)="selectChangeHandler($event)">
            <option selected="selected" value="*">*</option>
            <option value="start game">start game</option>
            <option value="paused">paused</option>
            <option value="grow">grow</option>
          </select>
        </td>
      </tr>



    </table> 
  </div>
  <p><span>You selected: </span><b>{{selectedAction}}</b></p>

  <div *ngFor="let gameAction of history">
    {{gameAction.timeStamp*1000 | date:'yyyy-MM-dd HH:mm:ss'}} - {{gameAction.act}}
  </div>

  </div>

</div>